[submodule "modules/spf13-vim"]
	path = modules/spf13-vim
	url = git@github.com:jiawulu/spf13-vim.git
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "modules/todo.txt"]
	path = modules/todo.txt
	url = git@github.com:jiawulu/todo.txt-cli.git
[submodule "modules/goagent"]
	path = modules/goagent
	url = https://github.com/jiawulu/goagent
